body{
    margin: 1%;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: #cfd8dc;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li {
    padding-left: 1rem;
  }

  nav a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #0d47a1
  }

  li {
    list-style: none;
    text-decoration: none;
  }

.logo{
    height: 75px;
    width: auto;
}
/* NAV */


/* CONTADOR */
.contador{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10%;
}

.cont{
    font-size: 20px;
}

button{

    height: 50px;
    width: 50px;
    border-radius: 5px;
}

.agreg{
    width: 13%;
    height: auto;
}
/* CONTADOR */

img {
  height: 250px;
  width: auto;
}

.items{
  padding-bottom: 20px;
  margin: 20px;
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  text-align: center;
  border: solid black 1px;
}

.linkMas{
  padding: 15px;
  display: block;
}