body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: #cfd8dc;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li {
    padding-left: 1rem;
  }

  nav a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #0d47a1
  }

  li {
    list-style: none;
    text-decoration: none;
  }

.logo{
    height: 75px;
    width: auto;
}
/* NAV */


/* CONTADOR */
.contador{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10%;
}

.cont{
    font-size: 20px;
}

.btnCnt{
  width: 3rem;
  height: 3rem;
}

button{
    border-radius: 5px;
}

.agreg{
    width: 13%;
    height: auto;
}
/* CONTADOR */

img {
  height: 250px;
  width: auto;
}

.boxContainer{
  border: 2px solid #ccc;
  padding: 10px;
  width: 30em;
}

.infoBox{
  width: fit-content;
  padding: 5px;
  margin-bottom: 1em;
}

.items{
  padding-bottom: 20px;
  margin: 20px;
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  text-align: center;
  border: solid black 1px;
}

.linkMas{
  padding: 15px;
  display: block;
}

/* FOOTER */
.footerMain{
  margin-top: 1rem; padding: 0.5rem; background-color: #cfd8dc; position: fixed; bottom: 0; left: 0; width: 100%; }